// body {
//   background-image: url('https://images.unsplash.com/photo-1615028427098-f2185474eeb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW4lMjByYW5nZXxlbnwwfHwwfHw%3D&w=1000&q=80');
//   height: 800px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
#background-img {
  position: absolute;
  background-image: url('https://images.unsplash.com/photo-1615028427098-f2185474eeb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW4lMjByYW5nZXxlbnwwfHwwfHw%3D&w=1000&q=80');
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#pages-home {
  position: relative;
}

#pages-home-text {
  position: absolute;
  width: 700px;
  top: 150px;
  left: 630px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-weight: 200;
  text-shadow: 2px 2px #000000;
}

#pages-home-background-btn {
  position: absolute;
  margin-top: 250px;
  left: 900px;
  border: 3px;
}

#pages-home-background-btn {
  &.dark {
    --background: #2F3545;
    --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
  }

  &.white {
    --background: #fff;
    --text: #275efe;
    --shadow: 0 2px 8px -1px #{rgba(#121621, .04)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#121621, .12)};
  }
}

#pages-home-background-btn {
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: .5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
  padding: 16px 32px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;

  div {
    display: flex;

    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      $i: 1;

      @while $i < 12 {
        &:nth-child(#{$i}) {
          --d: #{$i / 20 + s};
        }

        $i: $i+1;
      }
    }
  }

  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);

    span {
      animation: move var(--duration) linear var(--d);
    }
  }

  &.smoke {
    --move: 12px;
    --move-y: -8px;
    --blur: 4px;

    &:hover {
      span {
        --duration: 1s;
        animation: smoke var(--duration) linear var(--d);
      }
    }
  }

  &.drive {
    --move: 16px;
    --skew: 25deg;
    --skew-fast: 40deg;
    --skew-bounce: -12px;

    &:hover {
      span {
        --duration: 1s;
        transform-origin: 50% 100%;
        animation: drive var(--duration) linear var(--d);
      }
    }
  }
}

@keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes smoke {

  45%,
  55% {
    filter: blur(var(--blur));
  }

  50%,
  50.1% {
    opacity: 0;
  }

  25%,
  75% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(var(--move)) translateY(var(--move-y));
  }

  50.1% {
    transform: translateX(calc(var(--move) * -1));
  }
}

@keyframes drive {
  40% {
    opacity: 1;
  }

  55% {
    transform: skewX(var(--skew)) translateX(var(--move));
  }

  56% {
    transform: skewX(var(--skew-fast)) translateX(calc(var(--move) * -1));
  }

  55%,
  56% {
    opacity: 0;
  }

  75% {
    transform: skewX(var(--skew));
  }

  85% {
    transform: skewX(var(--skew-bounce));
  }
}
