#pages-my-favourites {
  margin-left: 100px;
}

#pages-my-favourites-main-grid {
  margin-top: 20px;
}

#pages-my-favourites-avatar {
  margin-top: 20px;
  margin-bottom: 200px;
}

#pages-my-favourites-avatar-name {
  margin-top: 20px;
  font-family: 'Courier New',
    Courier,
    monospace;
}

#pages-my-favourites-in-pages-nav {
  margin-top: 20px;
  padding: 30px;
}

#pages-my-favourites-grid-card {
  margin-bottom: 20px;
}

#pages-my-favourites-grid-card-card-title {
  width: 500px;
}

#pages-my-favourites-grid-card-head-link {
  margin-left: 4px;
}
