#pages-my-notifications {
  margin-left: 100px;
}

#pages-my-notifications-main-grid {
  margin-top: 20px;
}

#pages-my-notifications-avatar {
  margin-top: 20px;
  margin-bottom: 200px;
}

#pages-my-notifications-avatar-name {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

#pages-my-notifications-in-pages-nav {
  margin-top: 20px;
  padding: 30px;
}

#pages-my-notifications-grid-card {
  margin-bottom: 20px;
}

#pages-my-notifications-grid-inside-card-title-link {
  margin-left: 6px;
}

#pages-my-notifications-grid-card-card-text {
  width: 500px;
  margin-bottom: 10px;
}
