#pages-my-posts {
  margin-left: 100px;
}

#pages-my-posts-main-grid {
  margin-top: 20px;
}

#pages-my-posts-avatar {
  margin-top: 20px;
  margin-bottom: 200px;
}

#pages-my-posts-avatar-name {
  margin-top: 20px;
  font-family: 'Courier New',
    Courier,
    monospace;
}

#pages-my-posts-in-pages-nav {
  margin-top: 20px;
  padding: 30px;
}

#pages-my-posts-grid-inside-card {
  margin-bottom: 20px;
}

#pages-my-posts-grid-inside-card-card-title {
  width: 500px;
}

// .card-title {
//   width: 500px;
// }
