#pages-private {
  margin-left: 100px;
}

#page-my-profile-main-grid {
  margin-top: 20px;
}

#pages-my-profile-avatar-grid {
  padding: 10px;

}

#pages-my-profile-avatar {
  margin-bottom: 200px;
}

#pages-my-profile-info-grid {
  padding-left: 100px;
}

#edit-profile-btn {
  margin-top: 100px;
}

.in-pages-nav {
  margin-top: 20px;
  width: 296.65px;
  padding: 30px;
}
