#pages-my-threads {
  margin-left: 100px;
}

#pages-my-thread-main-grid {
  margin-top: 20px;
}

#pages-my-thread-avatar {
  margin-top: 20px;
  margin-bottom: 200px;
}

#pages-my-thread-avatar-name {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

#pages-my-thread-grid-inside {
  width: 1000px;
}

#pages-my-thread-grid-inside-card {
  margin-bottom: 20px;
}

#pages-my-thread-grid-inside-card-card-title {
  display: flex;
  justify-content: center;
}

.btn-container {
  margin-top: 20px;
}

#pages-my-threads-in-pages-nav {
  margin-top: 20px;
  padding: 30px;
}
